@use '../helpers/vars' as variables
@use '../mixins/responsive' as responsive
@use '../mixins/flex' as flex

.NavBar
  height: 100%
  color: variables.$color-clear
  @include responsive.mobiles-container
  @include flex.children-center
  &__city
    display: flex
    width: calc(100% - 32px)
    &__info
      font-size: 1.4rem
      @include flex.children-center
      &:first-child
        font-weight: bold
      &:last-child
        font-size: 1.2rem
        padding-left: 12px

@media screen and (min-width: 468px)
  .NavBar
    &__city
      &__info
        font-size: 1.6rem
        &:last-child
          font-size: 1.4rem

@media screen and (min-width: 600px)
  .NavBar
    &__city
      &__info
        font-size: 1.8rem
        &:last-child
          font-size: 1.6rem

@media screen and (min-width: 800px)
  .NavBar
    @include responsive.screens-container