@use '../helpers/vars' as variables

.Header
  position: absolute
  top: 0
  left: 0
  height: 64px
  width: 100%
  padding: variables.$padding-mobiles
  background-color: variables.$color-dark
  border-bottom: 3px solid variables.$color-base
  display: flex
  align-items: center
  justify-content: center

@media screen and (min-width: 600px)
  .Header
    padding: variables.$padding-screens
