@use '../mixins/responsive' as responsive
@use '../mixins/flex' as flex

.Main
  width: 100%
  position: absolute
  top: 64px
  bottom: 72px
  left: 0
  @include flex.all-center
  &__content
    @include responsive.mobiles-container
    overflow-y: scroll
    scroll-behavior: smooth

@media screen and (min-width: 800px)
  .Main
    &__content
      @include responsive.screens-container